.header-row{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  vertical-align: middle;
  align-items : center !important;
}